.search{
  display: flex;
  margin: 2rem;
}

.search_select{
  border: 1px solid black;
  padding: 0.8rem 1rem;
  border-radius: 17px;
  margin-right: 1rem;
}

.search_select select, .search_input button{
  font-size: 18px;
  font-weight: 500;
  background: none;
}

.search_input{
  display: flex;
  flex-grow: 1;
}

.search_input input{
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid black;
  border-radius: 17px;
}

.search_input button{
  color: white;
  background: #006F33;
  padding: 0.8rem 1.2rem;
  margin-left: -1.5rem;
  border-radius: 17px;
}
.search_input button:hover{
  background: black;
  cursor: pointer;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 2rem;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 300px;
    transition: ease-in all 0.5s;
    transition-duration: 300ms;
    background: #fff;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-1px);
    transform: scale(0.97);
  }
  
  .card-image {
    width: 100%;
    height: 138px;
    object-fit: cover;
    object-position: center;
  }
  
  .card-content {
    text-align: start;
  }

  .card-content h3{
    padding: 0.2rem 0;
  }

  .card-name {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:  #4A4A4AB2;
    padding: 0.2rem 0;
  }

  .card-farmer{
    color: #006F33;
    font-weight: 800;
    font-size: 14px;
    padding: 0.2rem 0;
  }

  .card-naira{
    color: #006F33;
  }
  .card-amount{
    color: black;
  }

  .card-amount, .card-naira{
    font-size: 21px;
    font-weight: 700;
  }

  .card-qty{
    color:  #4A4A4AB2; 
    font-size: 12px;
    font-weight: 700s;
    padding: 0 0.2rem;
  }

  @media (max-width: 640px) {
    .card-list {
        grid-template-columns: repeat(1, 1fr);
      }

      .search{
        flex-direction: column;
      }

      .search_select{
        margin-bottom: 1rem;
      }
    }

    @media (min-width: 641px) and (max-width: 1024px) {
      .card-list {
        grid-template-columns: repeat(2, 1fr); 
      }
      .search{
        flex-direction: column;
      }
      .search_select{
        margin-bottom: 1rem;
      }
    }

    @media (min-width: 1025px) and (max-width: 1280px) {
      .card-list {
        grid-template-columns: repeat(3, 1fr); 
      }
    }

    @media (min-width: 1281px) and (max-width: 1600px) {
      .card-list {
        grid-template-columns: repeat(5, 1fr); 
      }
    }

    @media (min-width: 1601px) {
      .card-list {
        grid-template-columns: repeat(6, 1fr); 
      }
    }
  